[Unit]
Description=Server Status Agent
Wants=network.target 
After=network.target 


[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User=root
Group=root
WorkingDirectory=/opt/sss/agent/
ExecStart=/bin/bash -c '/usr/bin/python3 /opt/sss/agent/client-linux.py SERVER=sss_host USER=sss_user PASSWORD=sss_pass; sleep 14400; systemctl restart sss-agent.service'
Restart=always
RestartSec=0  # 立即重启
#Environment=DEBUG=true
#ExecStartPre=/bin/bash -c 'systemctl restart sss-agent.service; sleep 14400'
# Some distributions may not support these hardening directives. If you cannot start the service due
# to an unknown option, comment out the ones not supported by your version of systemd.
#ProtectSystem=full
#PrivateDevices=yes
#PrivateTmp=yes
#NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
